# Application configuration for FastGraphRAG example
# You can set the following environment variables to configure the application. Make sure to replace the placeholder values with your actual configuration.

# General application settings
# Log level can be set to DEBUG, INFO, WARN, ERROR
APP_LOG_LEVEL=INFO

# Chunking settings for document processing
APP_CHUNK_SIZE=500
APP_CHUNK_OVERLAP=50

# Elasticsearch configuration
# Make sure to set the APP_ELASTIC_HOST environment variable to your Elasticsearch instance URL. 
# If your Elasticsearch instance requires authentication, you can set the APP_ELASTIC_USER, APP_ELASTIC_PASSWORD, APP_ELASTIC_API_KEY, or APP_ELASTIC_SERVICE_TOKEN environment variables accordingly.
APP_ELASTIC_HOST=http://localhost:9200
APP_ELASTIC_USER=elastic
APP_ELASTIC_PASSWORD=changeme
APP_ELASTIC_API_KEY=
APP_ELASTIC_SERVICE_TOKEN=

# If you use docker-compose in this example, keep ELASTIC_PASSWORD in sync
# with APP_ELASTIC_PASSWORD.
ELASTIC_PASSWORD=changeme

# Kibana service token is generated automatically by docker-compose.

# Storage index names for assets and vectors in Elasticsearch
APP_ASSETS_STORAGE_INDEX=fast-graphrago-assets
APP_VECTOR_STORAGE_INDEX=fast-graphrago-vectors

# Maximum number of concurrent requests the application can handle. Adjust this based on your server's capacity and expected load.
APP_MAX_CONCURRENT=1

# OCR service configuration. Uncomment and set the following environment variables if you want to use an OCR service for document processing.
# OCR_SERVICE_PROJECT_ID=
# OCR_SERVICE_LOCATION=

# API Path and API Key for the OCR service are required.
OCR_SERVICE_API_PATH=
OCR_SERVICE_API_KEY=

# LLM and Embedding model configuration. 
# You can choose to use ManageAI's models or OpenAI's models by setting the appropriate environment variables. 
# Make sure to set the required environment variables for the models you choose to use.
MAI_BASE_URL=
MAI_MODEL_ID=
MAI_API_KEY=

# You need to set embedding vector dimension, it depends on the embedding model you choose. 
# For example, if you are using "text-embedding-3-small" from ManageAI, the dimension is 384.
MAI_EMBEDDING_MODEL=
MAI_EMBEDDING_DIM=

# To use OpenAI, you can uncomment the following lines and set the environment variables accordingly.
# OPENAI_MODEL_ID=
# OPENAI_API_KEY=
# OPENAI_EMBEDDING_MODEL_ID=
# OPENAI_EMBEDDING_DIM=
